@model IphoneDetailViewModel
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/img/@Model.Iphone.ImageUrl" alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-4 fw-bolder">@Model.Iphone.ModelName</h1>
                <div class="fs-5 mb-5">
                </div>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-7 mb-3">
                            <div class="card h-1">

                                <div class="card-body">
                                    <h5 class="card-title">@Model.Iphone.ModelName</h5>
                                    <p class="card-text">
                                        <strong>Screen Size:</strong> @Model.Iphone.ScreenSize inch<br>
                                        <strong>CPU:</strong> @Model.Iphone.CPU<br>
                                        <strong>RAM:</strong> @Model.Iphone.RAM GB<br>
                                        <strong>Battery:</strong> @Model.Iphone.Battery mAh<br>
                                        <strong>Relase Year:</strong> @Model.Iphone.ReleaseDate.Year <br>
                                    </p>
                                </div>

                            </div>
                        </div>

                        <ol class="list-group list-group-item-success">

                            @foreach (var dealerIphone in Model.DealerIphones)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">
                                            @dealerIphone.Dealer.DealerName
                                        </div>
                                        @dealerIphone.Dealer.Description
                                    </div>
                                    <a href="@dealerIphone.Dealer.DealerAddress" class="btn btn-primary mt-2" target="_blank">$@dealerIphone.Price</a>
                                </li>
                            }

                        </ol>

                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                <div class="card-body p-4">

                    @await Html.PartialAsync("_CommentForm", new CommentViewModel { IphoneID = Model.Iphone.IphoneID })
                        <hr />
                    
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="card mb-4">
                            <div class="card-body">
                                <p>@comment.CommentText</p>

                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <img src="https://picsum.photos/200"
                                             alt="avatar"
                                             width="25"
                                             height="25" />
                                        <p class="small mb-0 ms-2">@comment.User.Name @comment.User.Surname </p>
                                    </div>              -->
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>